<ion-header>
  <ion-toolbar>
    <ion-title>resultat</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding=''>
    <ion-card>
      <ion-item>
          <ion-card-content>
                  Votre commande a été enregistrée avec succées.
                  Vous serez livré dans les 3 jours à venir.
                  Merci de toujours faire confiance à <strong>DigiShop</strong> 
          </ion-card-content>
      </ion-item>
    </ion-card>
    <ion-card>
        <ion-item>
            <ion-card-content>
                 Pour voir l'etat de vos commandes allez dans la rubriques <strong>MES COMMANDES</strong> 
            </ion-card-content>
        </ion-item>
    </ion-card>
    <ion-card>
        <ion-item>
            <ion-card-content>
                <h3 text-center>     <strong>  Retour à la boutique precedante </strong>   </h3>
            </ion-card-content>
        </ion-item>
    </ion-card>
    <ion-card>
        <h2 text-center>
            <ion-button color="success" default="true" (click)="openHome()" >ACCUEIL</ion-button>
        </h2>
    </ion-card>
    
</ion-content>
